extends ../layout.pug

block content
  h1= 'New Question'
  br
  form(action='/admin/questions', method='POST')
    .row.mb-3
      .col-sm-1
        label(for='text') Text
      .col-sm
        textarea(name='text', required=true)
    .row.mb-3
      .col-sm-1
        label(for='answer1') Answer 1
      .col-sm
        input(name='answer1', value='', required=true)
        input(type='radio', name='isCorrect', value=0, checked=true)
    .row.mb-3
      .col-sm-1
        label(for='answer2')  Answer 2
      .col-sm
        input(name='answer2', value='', required=true)
        input(type='radio', name='isCorrect', value=1)
    .row.mb-3
      .col-sm-1
        label(for='answer3') Answer 3
      .col-sm
        input(name='answer3', value='', required=true)
        input(type='radio', name='isCorrect', value=2)
    .row.mb-3
      .col-sm-1
        label(for='answer4') Answer 4
      .col-sm
        input(name='answer4', value='', required=true)
        input(type='radio', name='isCorrect', value=3)

    input(type='submit', name='Submit')
